@mixin button($gridarea) {
        grid-area: $gridarea;
        font-family: $primaryfontFamily;
        font-style: italic;
        font-size: $secondaryfontSize;
        text-align: center;
        color: black;
        border: 0;
        border-radius: 8px;
        justify-self: center;
        margin: 2% 0 0 0;
        &:hover {
            cursor: grab;
            text-decoration: underline;
        }
}
