.footer-message {
    grid-area: footermessage;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: '. contact .' '. . .' '. photocredit .';
    margin: 0;
    .contact {
        grid-area: contact;
        margin: 2%;
        font-family: $primaryfontFamily;
        font-size: $teritaryfontSize;
        font-style: italic;
        text-align: center;
    }

    .photocredit {
        grid-area: photocredit;
        margin: 2%;
        font-family: $primaryfontFamily;
        font-size: $teritaryfontSize;
        font-style: italic;
        text-align: center;
    }
}

