.footer {
    grid-area: footer;
    background-color:rgba(255, 235, 205, 0.8);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:auto;
    grid-template-areas: '. footermessage .'; 
    @import '../Commons/FooterMessage.scss';
}


